form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 3rem;
  button {
    background-color: #00b4db;
    color: #fff;
    font-family: "poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    margin: 2rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 768px) {
  form {
    display: grid;
    height: 100vh;
    margin-left: 150px;
    margin-right: 150px;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 40px;
  i {
    font-size: 50px;
    width: 100px;
    height: 100px;
  }
}
