.carousel-item img {
  height: 200px;
}

.carousel-caption button {
  background-color: #00b4db;
  border: none;
  padding: 10px 15px;
  a {
    color: #fff;
    font-family: "poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .carousel-item img {
    height: 450px;
  }
}
